input {-webkit-appearance: none; box-shadow: none !important; }
:-webkit-autofill { color: #fff !important; }

datalist {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.create-table{
    height: 60vh;
    width: 30%;
}
.table{
    height: 60vh;
    width: 30%;
}
.table-name-input:focus{
    outline: none;
    border-bottom: 2px solid rgb(190, 190, 190);
}
.table-name-input:disabled{
    background-color: #fff;
}